.featurers-book-cotnainer{
position: relative;

}
.featureBook-box{
    margin-top: 56px;
    display: flex;
    flex-direction: column;
    gap:24px;
    text-align: center;
}
.featurebook{
    background: var(--color-light);
}
.featurebook-info>div{
    margin-top: 8px;
    margin-bottom: 20px;
}
.Featured .swiper-pagination{
margin: auto;
margin-top: 80px;
display: inline;
gap: 20px;
}
.feature-border{
  margin-top: 56px;
  height: 1px;
  background: var(--color-dark-Ex);
  width: 100%;

}
.feature-btn{
    margin: auto;
    margin-right: 0;
    margin-top: 10px;
}
@media(max-width:1024px){
    .feature-btn{
        margin: auto;
        margin-top: 30px;
    }
    .Featured .swiper-pagination{
        display: none;
    }
}


