header{
    width: 100%;
    overflow: hidden;
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
    margin-left: 30px !important;
    margin-top: 20px !important;
}
.header-container{
    max-width: 1880px ;
    width: 90%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 180px 0;
}
.header-shape{
    position: absolute;
    top: 0;
    right: 0;
}
.header-wrapper{
    display: grid;
    grid-template-columns: auto 395px;
    align-items: center;
    gap: 160px;
    margin: 0 auto;
    height: 100%;
    width: 90%;
}
.header-left p{
    margin-bottom:75px;
    margin-top: 20px;
}
.slider-button{
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin: auto;
    position: absolute;
    bottom: 0;
    top:0;
    width: 100%;
}
.slidebutton{
display: inline-block;
font-size: 18px;
color: var(--color-dark);
border-radius: 50%;
padding: 20px;
display: flex;
border: 1px solid var(--color-dark-Ex);
/* z-index: 10; */
transition: var(--transition);
}
.slidebutton:hover{ 
     background: var(--color-dark-Ex); 
 }
 .swiper-pagination{
    left: 0;
    width: fit-content;
    position: relative;
    align-items: center;
    display: flex;
    gap:20px;
    margin-top:100px; 
    margin-bottom: 4px;
    /* background-color: red; */
    display: inline;
   
 }
 .swiper-pagination-bullet-active{
    background:var(--color-primary);
    position: relative;
 }
 .swiper-pagination-bullet-active::after{
    content:"";
    position: absolute;
    height: 1.8rem;
    width: 1.8rem;
    border: 1px solid var(--color-primary);
    top:0;
    bottom: 0;
    right: -130%;
    margin: auto;
    border-radius: 50%;

 }
 @media (max-width:1256px){
    .header-wrapper{
        gap: 60px;
    }
 }
 @media (max-width:1190px){
    .header-wrapper{
        gap: 0;
    }
 }
 @media (max-width:1080px){
    .header-wrapper{
        grid-template-columns: auto 340px;
    }
 }
 @media (max-width:1020px){
    .header-container{
        width: 97%;
        padding: 100px 0;
    }
    .header-wrapper{
        width: 92%;
        grid-template-columns: 1fr;
        text-align: center;
    }
    .header-right{
        grid-row: 1;
        margin: 0 auto;
        width: 64%;
    }
    .header-left p{
        margin-top: 10px;
        margin-bottom: 40px;    
    }
    .header-left .btn{
        margin: auto;   
    }
    .swiper-pagination{
        margin: auto;
        margin-top: 60px;
        margin-bottom: 5px;

    }
    .slider-button{
        padding: 16px;
    }
 }

 @media (max-width:600px){
    .header-right{
        width: 90%;
    }
    .slidebutton{
        padding: 14px;
    }
    .slider-button{
        top: -26%;
    }
 }